<!DOCTYPE html>
<html xmlns:th:="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Creacion de Categoria</h1>

	<form th:action="@{/categorias/save}" method="post">
		<label for="nombre">Nombre:</label>
		<br> 
		<input type="text" id="nombre" name="nombre" value="">
		<br> 
		<label for="descripcion">Descripcion:</label>
		<br> 
		<input type="text" id="descripcion"name="descripcion" value="">
		<br>
		<br> 
		<input type="submit" value="Guardar">
	</form>
</body>
</html>